<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
	<Appenders>
		<Console name="LogToConsole" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
		<RollingFile name="LogToRollingFile" fileName="logs/app.log"
					 filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB"/>
			</Policies>
		</RollingFile>
		<SplunkHttp
				name="httpconf"
				url="http://192.168.166.7:8088"
				token="8e514702-9572-4eb1-946b-cc00b93c74ef"
				host=""
				index=""
				source="splunktest"
				sourcetype="battlecat"
				messageFormat="text"
				batch_interval="0"
				batch_size_bytes="0"
				batch_size_count="0"
				disableCertificateValidation="true"
				middleware="HttpEventCollectorUnitTestMiddleware"
		>
			<PatternLayout pattern="%m"/>
		</SplunkHttp>
	</Appenders>
	<Loggers>
		<!-- avoid duplicated logs with additivity=false -->
		<Logger name="com.ceramic" level="debug" additivity="false">
			<AppenderRef ref="LogToRollingFile"/>
		</Logger>
		<Root level="error">
			<AppenderRef ref="LogToConsole"/>
		</Root>
		<Logger name="splunk.logger" level="info">
			<AppenderRef ref="httpconf"/>
		</Logger>
	</Loggers>
</Configuration>