# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\vx6\ceramic\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
